:root{
    --color-primary: #1b7ead;
    --color-dark: #212529ff;
    --color-light: #ffffff;
    --color-border: #E5E7E9;
    --color-border__shadow: #D7DBDD;
    --color-primary-card: #D9ECF3;
    --color-secundary: #007EAE;
    --color-border: #e5e7e9;
    --color-white: #ffffff;
    --color-fondo:rgb(223, 223, 223);
    --title-size:25px;
    --title-color: #333;
    --desc-color:#666;
    --color-normal:rgb(234, 234, 234);
    --color-gris:#6c757d;
    --color-link:#007eae;
}